$spacing1: 8px;
$spacing: 4px;
$border1: 2px;
$border2: 1px;

$color-primary:rgb(31, 97, 141);
$color-secondary:rgb(61, 64, 66);
$color-terciary:rgb(214, 211, 211);

$color-text1:rgb(209, 22, 22);
$color-text2:rgb(252, 244, 244);
$color-text3: black;

$primary-text1:30px;
$primary-text2:20px;

$secondary-text1:15px;
$secondary-text2:10px;

$redes: (
    Whatsapp: #4dc247,
    facebook: #3b5999,
    instagram: #C13584,
    twitter: #55acee,

);

    @each $red, $color in $redes{
                .red-#{$red}{
                    color:$color
                }
    }
        
    
